body {
    background:#303030;
}

.main .Logotipo{
	width: 60%;
	float: left;
	background:rgb(86, 209, 234);
	text-align: center;
	padding: 4.53%;
}
.main .formulario{
	width: 40%
	padding:50%;
	float: left;
	background: rgb(86, 209, 234);
	display: block;
	box-sizing: border-box;
}

.form-login{
	width:100%
	background:rgba(220,234,245,.3);
	margin:auto;
	padding:4.6em 8.2em;
}
.form-login__input{
	display:block;
	width:100%;
	margin-bottom:1.5em;
	border:none;
	line-height:2.7;
	border-radius: 6px;
	text-align: center;
}
.form-login__submit{
	display:block;
	border-radius: 6px;
	width:100%;
	background:rgb(27, 134, 190);
	color: white;
	border:none;
	line-height:2;
	text-transform:uppercase;
	font-size:1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.form-login__submit:hover{
	background: rgb(37, 104, 208);
	cursor: pointer;
}
.form-login__acceder{
	text-align:center;
	display:block;
	padding-left: :2.5em;
	color:white;
	text-decoration:none;
}
