
*{
 margin: auto; 
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #394D5E;
    width: 100%;
    color: #ffffff;
    text-align: center;
	margin-top: 0;
    padding: 1%;
}
.Encabezado
{
   font-size: 4em;
}
table .datos_egr{

color: #000000;
border: 1;
border-color: #000000;

}

table{
	width: 100%;
	color: #000000;
}
table td{
	padding: 20px;
}
footer{
	width: 100%;
	background: #394D5E;
	padding: 10px 0px;
	text-align: center;
	margin-top: 0;
}

footer .imagenes  ul{
	list-style: none;
	display: inline-block;
}

footer .imagenes ul li{
	float: left;
	padding: 10px 15px;
	display: block;
}
footer .piedepagina {
	font-size: .8em;
	color:#ffffff;
	display: block;
}
footer .piedepagina{
	margin: 30px auto;
	font-size: .8em;
	display: inline-block;
}

div{
	width: 100%;
}
img{
	height:auto; ;
	width:100 ;
	margin:auto;
	display: block;
}
